---
import sunSvg from "./icons/sun.svg";
import moonSvg from "./icons/moon.svg";

console.log("🚀 ~ file: ThemeToggle.astro:4 ~ moonSvg:", moonSvg);
---

<button id="themeToggle" class="p-3">
  <span class="sr-only">Toggle Dark Mode</span>
  <svg
    id="sunIcon"
    class="hidden w-6 h-6 fill-zinc-100"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 20 20"
  >
    <path
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M10 3V1m0 18v-2M5.05 5.05 3.636 3.636m12.728 12.728L14.95 14.95M3 10H1m18 0h-2M5.05 14.95l-1.414 1.414M16.364 3.636 14.95 5.05M14 10a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z"
    ></path>
  </svg>
  <svg
    id="moonIcon"
    class="hidden w-6 h-6 text-zinc-900"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 18 20"
  >
    <path
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M8.509 5.75c0-1.493.394-2.96 1.144-4.25h-.081a8.5 8.5 0 1 0 7.356 12.746A8.5 8.5 0 0 1 8.509 5.75Z"
    ></path>
  </svg>
</button>

<script is:inline>
  // Function to update the theme and icon
  function updateTheme(theme) {
    const iconContainer = document.getElementById("iconContainer");
    document.documentElement.classList.toggle("dark", theme === "dark");
    document
      .getElementById("sunIcon")
      .classList.toggle("hidden", theme !== "dark");
    document
      .getElementById("moonIcon")
      .classList.toggle("hidden", theme === "dark");
    localStorage.setItem("theme", theme);
  }

  // Initial theme setup
  document.addEventListener("DOMContentLoaded", () => {
    let theme = localStorage.getItem("theme");
    if (!theme) {
      theme = window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light";
    }
    updateTheme(theme);
  });

  // Toggle button event listener
  document.getElementById("themeToggle").addEventListener("click", () => {
    const newTheme = document.documentElement.classList.contains("dark")
      ? "light"
      : "dark";
    updateTheme(newTheme);
  });
</script>
